<md-grid-list cols="3">
  <md-grid-tile [colspan]="1" [rowspan]="1">
  </md-grid-tile>
  <md-grid-tile [colspan]="1" [rowspan]="1"  style="height: 150px">
    
    <form class="example-form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">

      <md-card class="example-card">
        <md-card-header>
          <md-card-title><h2>Post New Job</h2></md-card-title>
        </md-card-header>
        <md-card-content>

          <md-input-container class="example-full-width">
            <input md-input placeholder="Job Title" [formControl]="myForm.controls['JobTitle']"> 
            <md-hint *ngIf="myForm.controls['JobTitle'].touched && myForm.controls['JobTitle'].hasError('required')" [ngStyle]="{'color': 'red'}" align="start">Required</md-hint>
          </md-input-container>

          <md-input-container class="example-full-width">
            <input md-input placeholder="Job Description" [formControl]="myForm.controls['JobDescription']"> 
            <md-hint *ngIf="myForm.controls['JobDescription'].touched && myForm.controls['JobDescription'].hasError('required')" [ngStyle]="{'color': 'red'}" align="start">Required</md-hint>
          </md-input-container>

          <md-input-container class="example-full-width">
            <input md-input placeholder="Salary" [formControl]="myForm.controls['Salary']"> 
            <md-hint *ngIf="myForm.controls['Salary'].touched && myForm.controls['Salary'].hasError('required')" [ngStyle]="{'color': 'red'}" align="start">Required</md-hint>
          </md-input-container>

          <br>
          <br>

          <md-select placeholder="JobType" name="JobType" class="example-full-width" [formControl]="myForm.controls['JobType']">
            <md-option value="Part Time">Part Time</md-option>
            <md-option value="Full Time">Full Time</md-option>
            <md-hint *ngIf="myForm.controls['JobType'].touched && myForm.controls['JobType'].hasError('required')" [ngStyle]="{'color': 'red'}" align="start">Required</md-hint>
          </md-select>

      
        </md-card-content>
        <md-card-actions class="text-right padding-right-20 padding-bottom-10">
          <span class="example-spacer"></span>
          <button md-button md-raised-button color="primary" type="submit">Post</button>
        </md-card-actions>
      </md-card>

    </form>

  </md-grid-tile>
  <md-grid-tile [colspan]="1" [rowspan]="1">    
  </md-grid-tile>
</md-grid-list>