<md-grid-list cols="3" class="grid-list-height">
  <md-grid-tile [colspan]="1" [rowspan]="1">
  </md-grid-tile>
  <md-grid-tile [colspan]="1" [rowspan]="1" class="grid-tile-height" style="height: 150px">
    
    <form class="example-form" [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">

      <md-card class="example-card card-forms" *ngIf="resume?.$key">
        <md-card-header>
          <md-card-title><h2>Resume</h2></md-card-title>
        </md-card-header>
        <md-card-content >

          <md-input-container class="example-full-width">
            <input md-input placeholder="Last Education" [formControl]="myForm.controls['LastEducation']" > 
            <md-hint *ngIf="myForm.controls['LastEducation'].touched && myForm.controls['LastEducation'].hasError('required')" [ngStyle]="{'color': 'red'}" align="start">Required</md-hint>
          </md-input-container>

          <md-input-container class="example-full-width">
            <input md-input placeholder="Last Education Year" [formControl]="myForm.controls['LastEducationYear']" > 
            <md-hint *ngIf="myForm.controls['LastEducationYear'].touched && myForm.controls['LastEducationYear'].hasError('required')" [ngStyle]="{'color': 'red'}" align="start">Required</md-hint>
          </md-input-container>

          <md-input-container class="example-full-width">
            <input md-input placeholder="Last Education Grade" [formControl]="myForm.controls['LastEducationGrade']" > 
            <md-hint *ngIf="myForm.controls['LastEducationGrade'].touched && myForm.controls['LastEducationGrade'].hasError('required')" [ngStyle]="{'color': 'red'}" align="start">Required</md-hint>
          </md-input-container>

          <md-input-container class="example-full-width">
            <input md-input placeholder="Professional Experience" [formControl]="myForm.controls['ProfessionalExperience']"> 
            <md-hint *ngIf="myForm.controls['ProfessionalExperience'].touched && myForm.controls['ProfessionalExperience'].hasError('required')" [ngStyle]="{'color': 'red'}" align="start">Required</md-hint>
          </md-input-container>

          <md-input-container class="example-full-width">
            <input md-input placeholder="Skills" [formControl]="myForm.controls['Skills']"> 
            <md-hint *ngIf="myForm.controls['Skills'].touched && myForm.controls['Skills'].hasError('required')" [ngStyle]="{'color': 'red'}" align="start">Required</md-hint>
          </md-input-container>

          <md-input-container class="example-full-width">
            <input md-input placeholder="Personal & Professional Description" [formControl]="myForm.controls['Description']"> 
            <md-hint *ngIf="myForm.controls['Description'].touched && myForm.controls['Description'].hasError('required')" [ngStyle]="{'color': 'red'}" align="start">Required</md-hint>
          </md-input-container>

        </md-card-content>
        <md-card-actions class="text-right padding-right-20 padding-bottom-10">
          <span class="example-spacer"></span>
          <button md-button md-raised-button color="primary" type="submit">Post</button>
        </md-card-actions>
      </md-card>

    </form>

  </md-grid-tile>
  <md-grid-tile [colspan]="1" [rowspan]="1">    
  </md-grid-tile>
</md-grid-list>