<md-sidenav-layout [class.m2app-dark]="isDarkTheme">

    <!-- Side Nav Bar -->
    <md-sidenav #sidenav mode="side" class="app-sidenav component-viewer-sidenav" >
        
        <nav *ngIf="(user && user.uid)">
            <h3>Menu</h3>
            <ul>

                <li *ngIf="canShow(user, [userType.Admin])">
                    <a routerlinkactive="component-viewer-sidenav-item-selected" [routerLink]="['/LocationAdd']" class="">
                        Add Parking Location
                    </a>
                </li>

                <li>
                    <a routerlinkactive="component-viewer-sidenav-item-selected" [routerLink]="['/Locations']" class="">
                        View Parking Locations
                    </a>
                </li>

                <li *ngIf="canShow(user, [userType.Admin])">
                    <a routerlinkactive="component-viewer-sidenav-item-selected"  [routerLink]="['/Users']" class="">
                        View All Users
                    </a>
                </li>
                <li *ngIf="canShow(user, [userType.Admin])">
                    <a routerlinkactive="component-viewer-sidenav-item-selected"  [routerLink]="['/Bookings']" class="">
                        View All Bookings
                    </a>
                </li>
                <li *ngIf="canShow(user, [userType.User])">
                    <a routerlinkactive="component-viewer-sidenav-item-selected"  [routerLink]="['/Bookings']" class="">
                        View My Bookings
                    </a>
                </li>

                <li *ngIf="canShow(user, [userType.Admin])">
                    <a routerlinkactive="component-viewer-sidenav-item-selected"  [routerLink]="['/Feedback']" class="">
                        Users Feedbacks
                    </a>
                </li>

                <li *ngIf="canShow(user, [userType.User])">
                    <a routerlinkactive="component-viewer-sidenav-item-selected"  [routerLink]="['/Feedback']" class="">
                        My Feedbacks
                    </a>
                </li>
                <li *ngIf="canShow(user, [userType.User])">
                    <a routerlinkactive="component-viewer-sidenav-item-selected"  [routerLink]="['/FeedbackSend']" class="">
                        Send Feedback
                    </a>
                </li>

            </ul>
        </nav>

    </md-sidenav>
    <!-- Side Nav Bar -->

    <!-- Header -->
    <md-toolbar color="primary">
        <button class="app-icon-button" *ngIf="(user && user.uid)" (click)="sidenav.toggle()">
            <i class="material-icons app-toolbar-menu">menu</i>
        </button>

        Real-Time Parking Booking System

        <span class="example-spacer"></span>
        <span *ngIf="(user && user.uid)">Welcome {{(user && user.FirstName || "")}}</span>
        <button md-button [routerLink]="['/Login']" *ngIf="!(user && user.uid)" >Login</button>
        <button md-button [routerLink]="['/Register']" *ngIf="!(user && user.uid)" >Register</button>
        <!--<button md-button *ngIf="(user && user.uid)" (click)="logout()" >Logout</button>-->
        <button class="app-icon-button" md-icon-button [mdMenuTriggerFor]="menu" *ngIf="(user && user.uid)">
            <md-icon>more_vert</md-icon>
        </button>
        <md-menu #menu="mdMenu">
            <button md-menu-item (click)="logout()">
                <md-icon>settings-power</md-icon>
                <span>Logout</span>
            </button>
        </md-menu>
    </md-toolbar>
    <!-- Header -->
    

    <div class="app-content">
        <router-outlet></router-outlet>
        <!-- Routed views go here -->
    </div>

</md-sidenav-layout>