
<md-card class="example-card" >
  <md-card-content>
    <h2>{{accountDetail?.FirstName}} {{accountDetail?.LastName}}</h2>
    <p>
      Email : {{accountDetail?.Email}}
    </p>
    <p>
      Gender : {{accountDetail?.Gender}}
    </p>
    <p>
      Last Education : {{resumeDetail?.LastEducation}}
    </p>
    <p>
      Last Education Year : {{resumeDetail?.LastEducationYear}}
    </p>
    <p>
      Last Education Grade : {{resumeDetail?.LastEducationGrade}}
    </p>
    <p>
      Professional Experience : {{resumeDetail?.ProfessionalExperience}}
    </p>
    <p>
      Skills : {{resumeDetail?.Skills}}
    </p>
    <p>
      Personal & Professional Description: <br><br>
      {{resumeDetail?.Description}}
    </p>
  </md-card-content>
</md-card>